.nav-items {
    padding-top: 15px;
    margin: 5px;
    display: flex;
    justify-content: center;
}

.items {
    border: 1px solid black;
    font-size: 35px;
    margin: 5px;
    padding: 10px;
    border-radius: 12.5px;
}