ul {
    font-size: 45px;
    border-bottom: 1px solid black;
    color: rgb(19, 14, 14);
    margin: 0;
    overflow: hidden;
    z-index: 9;
    display: flex;
    list-style: none;
    justify-content: center;
}

.nav-icons {
    margin-left: 5px;
    margin-bottom: 5px;
    height: 43px;
    line-height: 43px;
    vertical-align: middle;
}

li {
    font-size: 37.5px;
    transition: 0.7s;
    padding: 5px 45px;
}

li:hover {
    background: #f38c59;
}
