ul {
  font-size: 2.5rem;
  background-color: rgba(39, 39, 39, 0.973);
  margin: 0;
  overflow: hidden;
  display: flex;
  float: left;
  list-style: none;
  justify-content: space-evenly;
}

li {
  transition: 0.7s;
}

li:hover {
  background: rgba(255, 32, 32, 0.589);
}
