#project-container {
    display: flex;
    justify-content: space-between;
    margin: auto;
    height: 75%;
    background-color: rgb(126, 158, 185);
}

.project-item {
    border: solid 7px rgb(243, 230, 230);
    color: white;
    width: 25%;
    margin: 50px;
    border-radius: 15px;
}