#main-content {
  text-align: center;
}

/* .main__nav {
  z-index: 1;
  position: fixed;
  height: 50%;
  width: 0;
  top: 0;
  left: 0;
  overflow-x: hidden;
} */

/* .main__top {
  z-index: 1;
} */

.nav-bar {
  background-color: rgb(16, 12, 12);
  padding: 0;
  margin: 0;
}
