#about-container {
  width: 500px;
  padding: 20px 30px;
  background-color: rgb(255, 231, 231, 0.3);
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

#title {
  font-size: 35px;
  font-weight: bold;
}

.about-item {
  font-size: 2rem;
  transition: all 2s ease;
}

.about-item-two {
  font-size: 2rem;
  transition: all 2s ease;
}

.about-item:hover {
  transform: translateX(-250px);
  transition: all 2s ease;
}

.about-item-two:hover {
  transform: translateX(250px);
  transition: all 2s ease;
}
